@use "variable" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--font-fam);
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}

img {
  max-width: 100%;
}

.d-none {
  display: none;
}
